USE [master]
GO
IF EXISTS(select * from sys.databases where name='DekiruNihongo')
DROP DATABASE DekiruNihongo
GO
/****** Object:  Database [DekiruNihongo]    Script Date: 03/23/2017 15:00:51 ******/
CREATE DATABASE [DekiruNihongo] ON  PRIMARY 
( NAME = N'DekiruNihongo', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.SQLEXPRESS\MSSQL\DATA\DekiruNihongo.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'DekiruNihongo_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.SQLEXPRESS\MSSQL\DATA\DekiruNihongo_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DekiruNihongo].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DekiruNihongo]
GO
/****** Object:  Table [dbo].[Vocabulary]    Script Date: 03/23/2017 15:00:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vocabulary](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[LessonID] [int] NOT NULL,
	[Term] [ntext] NOT NULL,
	[Definition] [ntext] NOT NULL,
 CONSTRAINT [PK_Vocabulary] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Vocabulary] ON
INSERT [dbo].[Vocabulary] ([ID], [LessonID], [Term], [Definition]) VALUES (1, 1, N'わたし', N'Tôi')
INSERT [dbo].[Vocabulary] ([ID], [LessonID], [Term], [Definition]) VALUES (2, 1, N'なまえ', N'Tên')
INSERT [dbo].[Vocabulary] ([ID], [LessonID], [Term], [Definition]) VALUES (3, 1, N'くに', N'Đất nước')
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
GO
print 'Processed 300 total records'
GO
print 'Processed 400 total records'
GO
print 'Processed 500 total records'
GO
print 'Processed 600 total records'
GO
print 'Processed 700 total records'
GO
print 'Processed 800 total records'
GO
print 'Processed 900 total records'
SET IDENTITY_INSERT [dbo].[Vocabulary] OFF
/****** Object:  Table [dbo].[User]    Script Date: 03/23/2017 15:00:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[Username] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](50) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ImgLink] [nvarchar](50) NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Quiz]    Script Date: 03/23/2017 15:00:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Quiz](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[LessonID] [int] NOT NULL,
	[Question] [ntext] NOT NULL,
	[Answer1] [nvarchar](100) NOT NULL,
	[Answer2] [nvarchar](100) NOT NULL,
	[Answer3] [nvarchar](100) NOT NULL,
	[CorrectAnswer] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_Quiz] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Quiz] ON
INSERT [dbo].[Quiz] ([ID], [LessonID], [Question], [Answer1], [Answer2], [Answer3], [CorrectAnswer]) VALUES (1, 1, N'あなたのたんじょうびは　＿ですか。
・・・くがつよっかです。', N'だれ', N'なん', N'どちら', N'いつ')
INSERT [dbo].[Quiz] ([ID], [LessonID], [Question], [Answer1], [Answer2], [Answer3], [CorrectAnswer]) VALUES (2, 1, N'いけだ＿　のしごとは　＿です。', N'きょうし、せんせい', N'せんせい、せんせい', N'きょうし、きょうし', N'せんせい、きょうし')
INSERT [dbo].[Quiz] ([ID], [LessonID], [Question], [Answer1], [Answer2], [Answer3], [CorrectAnswer]) VALUES (3, 1, N'これは　＿ですか。', N'いつ', N'だれ', N'どちら', N'なん')
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
GO
print 'Processed 300 total records'
GO
print 'Processed 400 total records'
SET IDENTITY_INSERT [dbo].[Quiz] OFF
/****** Object:  Table [dbo].[Lesson]    Script Date: 03/23/2017 15:00:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lesson](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[BookID] [int] NOT NULL,
	[LessonNumber] [int] NOT NULL,
 CONSTRAINT [PK_Lesson] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Lesson] ON
INSERT [dbo].[Lesson] ([ID], [Name], [BookID], [LessonNumber]) VALUES (1, N'新しい一歩', 1, 1)
INSERT [dbo].[Lesson] ([ID], [Name], [BookID], [LessonNumber]) VALUES (2, N'楽しいショッピング', 1, 2)
INSERT [dbo].[Lesson] ([ID], [Name], [BookID], [LessonNumber]) VALUES (3, N'私の目標', 1, 3)
SET IDENTITY_INSERT [dbo].[Lesson] OFF
/****** Object:  Table [dbo].[Kanji]    Script Date: 03/23/2017 15:00:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kanji](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[LessonID] [int] NOT NULL,
	[Term] [ntext] NOT NULL,
	[Definition] [ntext] NOT NULL,
 CONSTRAINT [PK_Kanji] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Kanji] ON
INSERT [dbo].[Kanji] ([ID], [LessonID], [Term], [Definition]) VALUES (1, 1, N'私 - TƯ', N'Âm ON: シ
Âm KUN: わたし／わたくし
Từ ghép:
私立大学（しりつだいがく）: đại học tư nhân
')
INSERT [dbo].[Kanji] ([ID], [LessonID], [Term], [Definition]) VALUES (2, 1, N'人 - NHÂN', N'Âm ON: ジン／にん
Âm KUN: ひと
Từ ghép:
日本人（にほんじん）: người Nhật
3人（さんにん）: 3 người
')
INSERT [dbo].[Kanji] ([ID], [LessonID], [Term], [Definition]) VALUES (3, 1, N'才 - TÀI', N'Âm ON: サイ
Âm KUN: 
Từ ghép:
４才（よんさい）:4 tuổi
')
GO
print 'Processed 100 total records'
SET IDENTITY_INSERT [dbo].[Kanji] OFF
/****** Object:  Table [dbo].[Grammar]    Script Date: 03/23/2017 15:00:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Grammar](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[LessonID] [int] NOT NULL,
	[Term] [ntext] NOT NULL,
	[Definition] [ntext] NOT NULL,
 CONSTRAINT [PK_Gramma] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Grammar] ON
INSERT [dbo].[Grammar] ([ID], [LessonID], [Term], [Definition]) VALUES (1, 1, N'N1は　N2です', N'N1 là N2.
Thể khẳng định, hiện tại hoặc tương lai.
N2 ở đây thể hiện 1 thuộc tính của N1.

れい：
・ミンさんは　がくせいです。
Minh là học sinh.
・クァンさんは　ベトナムじんです。
Quang là người Việt Nam.
・マイさんは　じゅうはっさいです。
Mai 18 tuổi.
')
INSERT [dbo].[Grammar] ([ID], [LessonID], [Term], [Definition]) VALUES (2, 1, N'N1は　N2ですか。', N'はい、N2です。
いいえ、N2では／じゃありません。

れい：
・ミンさんは　せんせいですか。
Minh là giáo viên phải không?
・・・はい、せんせいです。
Đúng, là giáo viên.
・・・いいえ、せんせいでは／じゃありません。
Không, không phải là giáo viên.
')
INSERT [dbo].[Grammar] ([ID], [LessonID], [Term], [Definition]) VALUES (3, 1, N'Nは　どちら／いつ／なんですか。', N'N là nước nào, khi nào, cái gì?
・どちら：có thể dùng hỏi đất nước, công ty, tập đoàn, hãng sản xuất…
・いつ：hỏi thời gian, lúc nào, khi nào
・なん：hỏi cái gì

れい：
・おくには　どちらですか。
Đất nước／ quê hương của bạn là gì?
・たんじょうには　いつですか。
Sinh nhật của bạn là khi nào?
・しゅみは　なんですか。
Sở thích của bạn là gì?
')
GO
print 'Processed 100 total records'
SET IDENTITY_INSERT [dbo].[Grammar] OFF
/****** Object:  Table [dbo].[FavoriteWord]    Script Date: 03/23/2017 15:00:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FavoriteWord](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[VocabularyID] [int] NOT NULL,
 CONSTRAINT [PK_FavoriteWord] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Book]    Script Date: 03/23/2017 15:00:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Book](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Description] [text] NULL,
 CONSTRAINT [PK_Book] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Book] ON
INSERT [dbo].[Book] ([ID], [Name], [Description]) VALUES (1, N'Dekiru Nihongo ShoKyuu', N'Dekiru Nihongo Shokyuu')
INSERT [dbo].[Book] ([ID], [Name], [Description]) VALUES (2, N'Dekiru Nihongo ShoChyuuKyuu', N'Dekiru Nihongo ShoChyuuKyuu')
INSERT [dbo].[Book] ([ID], [Name], [Description]) VALUES (3, N'Dekiru Nihongo ChyuKyuu', N'Dekiru Nihongo ChyuKyuu')
SET IDENTITY_INSERT [dbo].[Book] OFF
/****** Object:  Table [dbo].[Admin]    Script Date: 03/23/2017 15:00:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admin](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Admin] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Admin] ON
INSERT [dbo].[Admin] ([ID], [Username], [Password]) VALUES (1, N'admin', N'admin')
SET IDENTITY_INSERT [dbo].[Admin] OFF
